@using Microsoft.AspNetCore.Identity
@using library.elegalhubs.com.lms.Admin
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
}

<div id="kt_aside" class="aside aside-dark aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
    <!--begin::Brand-->
    <div class="aside-logo flex-column-auto" id="kt_aside_logo">
        <!--begin::Logo-->
        <a href="/">
            @*<img alt="Logo" src="~/LoginPages/img/logo-white-green.svg" class="h-25px logo" />*@
            @*<span class="text-green" style="font-size: 1.7rem !important;color: #67be29 !important;font-weight: 600;vertical-align: middle;padding-left: 0.5rem;">Foody Link</span>*@
            <span class="text-green" style="font-size: 2rem !important;color: #f5f8fa  !important;font-weight: 600;vertical-align: middle;padding-left: 0.5rem;">Elegal Hubs</span>
        </a>
        <!--end::Logo-->
        <!--begin::Aside toggler-->
        <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
            <span class="svg-icon svg-icon-1 rotate-180">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="black" />
                    <path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="black" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Aside toggler-->
    </div>
    <!--end::Brand-->
    <!--begin::Aside menu-->
    <div class="aside-menu flex-column-fluid">
        <!--begin::Aside Menu-->
        <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
            <!--begin::Menu-->
            <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
                <div class="menu-item">
                    <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">General</span>
                    </div>
                </div>

                <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-home fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Default</span>
                    </a>
                </div>

               

                <div class="menu-item">
                    <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">TICKETS</span>
                    </div>
                </div>
                <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Tickets" asp-action="Create">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-plus-circle fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Create</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Tickets" asp-action="Index">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-list fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">List</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Tickets" asp-action="TicketsChanges">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-pen fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Update</span>
                    </a>
                </div>
                @{
                    if (await UserManager.IsInRoleAsync(user, "SuperAdmin"))
                    {
                        <div class="menu-item">
                            <div class="menu-content pb-2">
                                <span class="menu-section text-muted text-uppercase fs-8 ls-1">USERS</span>
                            </div>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
                                <span class="menu-icon">
                                    <!--begin::Svg Icon | path: icons/duotune/communication/com013.svg-->
                                    <span class="svg-icon svg-icon-2">
                                        <i class="las la-users-cog fs-2"></i>
                                    </span>
                                    <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Manage</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a class="menu-link" asp-area="Admin" asp-controller="Roles" asp-action="Index">
                                <span class="menu-icon">
                                    <!--begin::Svg Icon | path: icons/duotune/communication/com013.svg-->
                                    <span class="svg-icon svg-icon-2">
                                        <i class="las la-lock-open fs-2"></i>
                                    </span>
                                    <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Roles</span>
                            </a>
                        </div>

                        <div class="menu-item">
                    <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">CONSTANTS</span>
                    </div>
                </div>
                <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Projects" asp-action="Index">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-1">
                                <i class="las la-project-diagram fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Projects</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Departments" asp-action="Index">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-layer-group fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Departments</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="ContactTypes" asp-action="Index">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-users fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Contacts</span>
                    </a>
                </div>

                    }
                }

                

                
                <div class="menu-item">
                    <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">SOCIAL</span>
                    </div>
                </div>
                 <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Chat" asp-action="InternalChat">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-sms fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Chat</span>
                    </a>
                </div>

                 @{
                    if (await UserManager.IsInRoleAsync(user, "SuperAdmin")){
                         <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Email" asp-action="Index">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-envelope fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Email</span>
                    </a>
                </div>
                 <div class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="NotificationsInternal" asp-action="Create">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-bell fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Web Notification</span>
                    </a>
                </div>

                     }
                 }
                <div class="menu-item">
                    <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">PROFILE</span>
                    </div>
                </div>

                <div class="menu-item">
                    <a class="menu-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-1">
                                <i class="las la-key fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Change Password</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-2">
                                <i class="las la-info fs-2"></i>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Update Profile</span>
                    </a>
                </div>
                
            </div>
            <!--end::Menu-->
        </div>
        <!--end::Aside Menu-->
    </div>
    <!--end::Aside menu-->
    <!--begin::Footer-->
    <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
        <a href="#" class="btn btn-custom btn-primary w-100" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click">
            <span class="btn-label">El-Legal Hub</span>
          
        </a>
    </div>
    <!--end::Footer-->
</div>