@model IEnumerable<lms.elegalhubs.com.Areas.Admin.Models.Notifications>

@{
    ViewData["Title"] = "Index";
}
@if (Model.Count() > 0)
{
    <div class="card">
            <div class="card-body">
				<div class="timeline">
                @foreach (var item in Model)
                {
                    <div class="timeline-item">
                            <!--begin::Timeline line-->
                            <div class="timeline-line w-40px"></div>
                            <!--end::Timeline line-->

                            <!--begin::Timeline icon-->
                            <div class="timeline-icon symbol symbol-circle symbol-40px">
                                <div class="symbol-label bg-light">
                                    <!--begin::Svg Icon | path: icons/duotune/communication/com009.svg-->
                                    <span class="svg-icon svg-icon-2 svg-icon-gray-500">
                                        <i class="fa fa-bell"></i>

                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                </div>
                                <!--end::Timeline icon-->
														
                                <!--begin::Timeline content-->
                                <div class="timeline-content mb-10 mt-n2">
                                    <!--begin::Timeline heading-->
                                    <div class="overflow-auto pe-3">
                                        <!--begin::Title-->
                                        <div class="fs-5 fw-bold mb-2">
                                            @item.Subject
                                        </div>
                                        <!--end::Title-->

                                        <!--begin::Description-->
                                        <p>@item.Message</p>
                                        <div class="d-flex align-items-center mt-1 fs-6">
                                            <!--begin::Info-->
                                            <div class="text-muted me-2 fs-7">Sent at @item.ActivityDate by @item.Sender.FullName</div>
                                            <!--end::Info-->

                                            <!--begin::User-->
                                           @* <div class="symbol symbol-circle symbol-25px" data-bs-toggle="tooltip" data-bs-boundary="window" data-bs-placement="top" title="Alan Nilson">
										        <img src="assets/media/avatars/150-2.jpg" alt="img" />
                                            </div>	*@					
                                            <!--end::User-->
                                        </div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Timeline heading-->
                                </div>
                                <!--end::Timeline content-->
                    </div>
                }
                <!--end::Timeline item-->
                </div>
            </div>
        </div>    
}



        
  
       

