@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="card">
    <div class="card-body">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="row">
            <form id="change-password-form" method="post">
                <!--begin::Input group-->
                <div class="row g-9 mb-8">
                    <!--begin::Col-->
                    <div class="col-md-8 fv-row">
                        <label asp-for="Input.OldPassword" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                        <input asp-for="Input.OldPassword" class="form-control form-control-solid" placeholder="Enter your Old Pass" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row g-9 mb-8">
                    <!--begin::Col-->
                    <div class="col-md-8 fv-row">
                        <label asp-for="Input.NewPassword" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                        <input asp-for="Input.NewPassword" class="form-control form-control-solid" placeholder="Enter your New Password  " />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row g-9 mb-8">
                    <!--begin::Col-->
                    <div class="col-md-8 fv-row">
                        <label asp-for="Input.ConfirmPassword" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-solid" placeholder="Enter your Confirm Password " />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <button type="submit" class="btn btn-primary">Update password</button>
            </form>
        </div>
    </div>
</div>

@section Script {
    <partial name="_ValidationScriptsPartial" />
}