@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="card">
    <div class="card-body">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="row">
            <form id="profile-form" method="post">
                <!--begin::Input group-->
                <div class="row g-9 mb-8">
                    <!--begin::Col-->
                    <div class="col-md-8 fv-row">
                        <label asp-for="Username" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                        <input disabled asp-for="Username" class="form-control form-control-solid" placeholder="Enter your Old Pass" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row g-9 mb-8">
                    <!--begin::Col-->
                    <div class="col-md-8 fv-row">
                        <label asp-for="Input.PhoneNumber" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control form-control-solid" placeholder="Enter your Phone Number" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row g-9 mb-8">
                    <!--begin::Col-->
                    <div class="col-md-8 fv-row">
                        <label asp-for="Input.FullName" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                        <input asp-for="Input.FullName" class="form-control form-control-solid" placeholder="Enter your Full Name " />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row g-9 mb-8">
                    <!--begin::Col-->
                    <div class="col-md-8 fv-row">
                        <label asp-for="Input.Address" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                        <input asp-for="Input.Address" class="form-control form-control-solid" placeholder="Enter your Address" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <button type="submit" class="btn btn-primary">Update password</button>
            </form>
        </div>
    </div>
</div>


@section Script {
    <partial name="_ValidationScriptsPartial" />
}